In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# df = pd.read_csv("taxi_zone_lookup.csv")
df = pd.read_csv("https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv")

df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [5]:
engine = create_engine("postgresql://root:root@localhost:5433/ny_taxi")
engine.connect()

In [6]:
df.to_sql(name="zones", con=engine, if_exists="replace")

265